{% extends 'layout/base.html' %}

{% load crispy_forms_tags i18n %}

{% block content %}

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">{% trans "Login" %}</div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-success" value="{% trans "Login" %}">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}