{% extends 'layout/base.html' %}

{% block content %}

    <div id="service-detail">
        <!--Title-->
        {% include 'includes/title-detail.html' with title=service.title subtitle=service.short_description small_title=service.category.name %}

        <div class="row clearfix">
            <div class="col-md-4">
                <div class="p-3 mb-4 bg-white rounded">
                    <img src="{{ service.image.url }}" alt="{{ service.title }}" class="w-100">
                </div>
            </div>
            <div class="col-md-8">
                <div class="service-content">
                    {{ service.content|safe }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}