{% extends 'layout/base.html' %}

{% block content %}

    <!--Title-->
    {% include 'includes/title-default.html' %}

    <div id="service-list">
        {% for category in page_obj %}
            <div class="mb-5">
                <!--Category Title-->
                <h2 class="h3 text-center mb-4">{{ category.name }}</h2>
                <!--Services-->
                <div class="row">
                    {% for service in category.services.all %}
                        <div class="col-md-3 col-sm-6">
                            {% include 'service/includes/service-list-item.html' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}