{% load i18n %}

<div class="card mb-4">
    {% if post.image %}
        <img class="card-img-top mh-150 of-cover" src="{{ post.image.url }}">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            {{ post.title }}
            <small>{{ post.published_at|timesince }} {% trans "ago" %}</small>
        </h5>
        <p class="card-text">{{ post.meta_description|safe }}</p>
    </div>
    <div class="card-footer">
        <a href="{{ post.get_absolute_url }}" class="btn btn-primary">{% trans "Detail" %}</a>
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser or post.user == request.user %}
                <a href="{{ post.get_update_url }}" class="btn btn-success">{% trans "Update" %}</a>
                <a href="{{ post.get_delete_url }}" class="btn btn-danger">{% trans "Delete" %}</a>
            {% endif %}
        {% endif %}
    </div>
</div>
