packages:
    yum:
        git: []
        postgresql93-devel: []

commands:
    01_node_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
        command: 'yum install -y nodejs --enablerepo=epel'
    02_npm_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
        command: 'curl -L http://npmjs.org/install.sh | sh'
    03_node_update:
        cwd: /tmp
        test: '[ ! -f /usr/bin/n ] && echo "node not updated"'
        command: 'npm install -g n && n stable'

option_settings:
    "aws:elasticbeanstalk:application:environment":
        DJANGO_SETTINGS_MODULE: "baseapp.settings"
        
    "aws:elasticbeanstalk:container:python":
        WSGIPath: baseapp/wsgi.py
        
    "aws:elasticbeanstalk:container:python:staticfiles":
        "/assets/": "assets/"
        "/media/": "media/"

container_commands:
    01_migrate:
        command: 'python manage.py migrate --noinput'
        leader_only: true

    02_npm_install:
        command: 'npm install --production'

    03_collectstatic:
        command: 'python manage.py collectstatic --noinput'