commands:
  01_node_install:
    cwd: /tmp
    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
    command: |
      yum install -y gcc-c++ make
      curl -sL https://rpm.nodesource.com/setup_10.x | sudo -E bash -
      yum install -y nodejs
  02_gettext_install:
    test: '[ ! -f /usr/bin/gettext ] && echo "gettext not installed"'
    command: yum install -y gettext

container_commands:
  01_npm_install:
    command: npm install --production

  02_collectstatic:
    command: python manage.py collectstatic --noinput

  03_i18n:
    command: |
      python manage.py compilemessages -l tr
      python manage.py compilemessages -l en

  04_migrate:
    command: python manage.py migrate --noinput
    leader_only: true
