{% extends 'layout/base.html' %}

{% load static %}

{% block content %}

    <div class="d-flex justify-content-center mb-4">
        <div id="portfolio-filter-buttons" class="btn-group" role="group">
            <button type="button" class="btn btn-secondary" data-filter="*">Tümü</button>
            {% for category in categories %}
                <button type="button" class="btn btn-secondary"
                        data-filter=".{{ category.slug }}">{{ category.name }}</button>
            {% endfor %}
        </div>
    </div>

    <div class="row" id="portfolio-list">
        {% for portfolio in portfolios %}
            <div class="col-md-4 portfolio-list-item mb-3 {{ portfolio.category.slug }}">
                {% include 'portfolio/partials/portfolio-list-item.html' %}
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'isotope-layout/dist/isotope.pkgd.min.js' %}"></script>
{% endblock %}
