/* Shortcuts */
.mh-150 {
    max-height: 150px;
}

.of-cover {
    object-fit: cover;
}

.ps-20 {
    position: sticky;
    top: 20px;
}

/* Main Structure */
body {
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-container {
    flex: 1;
}

footer#main-footer {
    width: 100%;
    padding: 15px 10px;
    line-height: 1.8em;
}

/* Blog */
.category-description > div p:last-child {
    margin-bottom: 0;
}

/* Portfolio */
.portfolio-content p:last-child {
    margin-bottom: 0;
}

/* Service */
.service-list-item .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    background-color: #F8F8F8;
    padding: 20px;
    user-select: none;
}
