/* Shortcuts */
.mh-150 {
    max-height: 150px;
}

.of-cover {
    object-fit: cover;
}

.ps-20 {
    position: sticky;
    top: 20px;
}

/* Global Definitions */
textarea {
   resize: none;
}

/* Main Structure */
body {
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-container {
    flex: 1;
}

footer#main-footer {
    width: 100%;
    padding: 15px 10px;
    line-height: 1.8em;
}

/* Blog */
.category-description > div p:last-child {
    margin-bottom: 0;
}

/* Portfolio */
.portfolio-content p:last-child {
    margin-bottom: 0;
}

/* Service */
.service-list-item .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    background-color: #F8F8F8;
    padding: 20px;
    user-select: none;
}

/* Contact */
.contact-map-wrapper {
    max-height: 350px;
}
.contact-map-wrapper iframe {
    width: 100%;
    max-height: 350px;
}

.social-wrapper {
    display: flex;
}
a.social {
    border-radius: 5px;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    color: #FFF;
    text-decoration: none;
    transition: 300ms opacity;
}
a.social:nth-last-child { margin-right: 0; }
a.social:hover { opacity: 0.7; }
a.social.facebook { background-color: #3b5998; }
a.social.twitter { background-color: #1da1f2; }
a.social.instagram { background-color: #f0495a; }
a.social.linkedin { background-color: #0077b5; }

/* About */
#about-content p:last-child {
    margin-bottom: 0;
}
.team-member-fullname {
    margin-bottom: 3px;
}
.team-member-title {
    color: #818181;
    margin-bottom: 15px;
}
.team-member-icons:before {
    content: "";
    display: block;
    margin: 10px auto 15px auto;
    width: 90px;
    height: 1px;
    background-color: #f0495a;
}
.team-member-icons a {
    color: #bcbcbc;
    transition: 300ms color;
    font-size: 18px;
    line-height: 18px;
}
.team-member-icons a:hover { color: #f0495a; }