{% extends 'layout/post.html' %}

{% load i18n %}

{% block beforeGrid %}
    {% if post.image %}
        <div class="mb-4">
            <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
        </div>
    {% endif %}
{% endblock %}

{% block postContent %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}
                <small>{{ post.published_at|timesince }} {% trans "ago" %}</small>
                <small>{% trans "Author" %}: {{ post.user.get_full_name }}</small>
            </h5>
            <p class="card-text">{{ post.content|safe }}</p>
        </div>
        <div class="card-footer">
            {% include 'blog/includes/post-actions.html' %}
        </div>
    </div>

    {% include 'blog/includes/comment-list.html' %}
    {% include 'blog/includes/comment-form.html' %}
{% endblock %}
