{% extends 'layout/base.html' %}

{% load crispy_forms_tags i18n %}

{% block content %}

    <div class="contact-map-wrapper mb-4">
        {{ params.gmap_code|safe }}
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4 mb-md-0">
                <div class="card-header">{% trans "Contact Form" %}</div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% crispy form form.helper %}
                        <input type="submit" class="btn btn-primary" value="{% trans "Submit" %}">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ps-20">
                <div class="table-responsive bg-white">
                    <table class="table table-bordered table-striped mb-0">
                        <tr>
                            <th>{% trans "Phone Number" %}</th>
                            <td>{{ params.phone }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "Email Address" %}</th>
                            <td>{{ params.email }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "Social Media" %}</th>
                            <td>
                                <div class="social-wrapper">
                                    {% if params.facebook_url %}
                                        <a class="social facebook" href="{{ params.facebook_url }}">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    {% endif %}
                                    {% if params.twitter_url %}
                                        <a class="social twitter" href="{{ params.twitter_url }}">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    {% endif %}
                                    {% if params.instagram_url %}
                                        <a class="social instagram" href="{{ params.instagram_url }}">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    {% endif %}
                                    {% if params.linkedin_url %}
                                        <a class="social linkedin" href="{{ params.linkedin_url }}">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
