{% extends 'layout/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-4">
                <div class="card-header">{{ title }}</div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {{ form.media }}
                        <input type="submit" class="btn btn-primary" value="Kaydet">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
