{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% if meta_description %}{{ meta_description }}{% else %}Django blog{% endif %}">
    <title>{% if title %}{{ title }}{% else %}Django Blog{% endif %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

{% include 'layout/partials/header.html' %}

{% include 'layout/partials/messages.html' %}

<div class="container mb-4" id="main-container">
    {% block content %}
    {% endblock %}
</div>

<footer class="text-center bg-dark" id="main-footer">
    <span class="text-muted">
        Copyright &copy; 2018 - Tüm hakları <a href="https://mucahitnezir.com" class="alert-link text-muted"
                                               target="_blank">@mucahitnezir</a>'e aittir.
    </span>
</footer>

<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% block scripts %}{% endblock %}
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>