{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <!--Meta Tags-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description"
          content="{% if meta_description %}{{ meta_description|safe }}{% else %}Demo Django web app{% endif %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex,nofollow">
    <!--Title-->
    <title>{% if title %}{{ title }}{% else %}Mücahit Nezir{% endif %}</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{% static 'img/favicon-192x192.png' %}">
    <link rel="icon" sizes="192x192" href="{% static 'img/favicon-192x192.png' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <!--Styles-->
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

{% include 'layout/partials/header.html' %}

{% include 'layout/partials/messages.html' %}

<div class="container mb-4" id="main-container">
    {% block content %}
    {% endblock %}
</div>

{% include 'layout/partials/footer.html' %}

<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% block scripts %}{% endblock %}
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>