{% extends 'layout/base.html' %}

{% block content %}

    {% block beforeGrid %}
    {% endblock %}

    <div class="row">
        <div class="col-md-8 mb-4">
            {% block postContent %}
            {% endblock %}
        </div>
        <div class="col-md-4">
            <div class="ps-20">
                <!--Search Box-->
                <form class="d-flex mb-3" method="GET" action="{% url 'post:index' %}">
                    <input class="form-control flex-grow-1 rounded-0" type="search" placeholder="Makale & Yazar & Kategori Ara" name="q"
                           value="{{ request.GET.q }}">
                    <button class="btn btn-success rounded-0" type="submit">Ara</button>
                </form>

                <!--Categories-->
                {% if not hide_categories %}
                    <div class="list-group">
                        {% for cat in categories %}
                            <a href="{{ cat.get_absolute_url }}"
                               class="list-group-item {% if cat.id == category.id %}active{% endif %} list-group-item-action d-flex justify-content-between align-items-center">
                                {{ cat.name }}
                                <span class="badge badge-primary badge-pill">{{ cat.get_posts_count }}</span>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}